.logo {
	width: max-content;
	height: 100%;
	margin-right: auto;
	justify-items: start;
	overflow: visible;

	img {
		display: none;
		height: 100%;
		transition: all 0.1s;
	}

	a {
		display: block;
		height: 100%;
		width: auto;

		/*
		background-image: var(--#{$PREFIX}-logo-masthead-cssurl);
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		*/

		/*
		body:not(.home) & {
			background-image: var(--#{$PREFIX}-logo-masthead-inside-cssurl);
		}
		*/

		@include hover {
			img {
				transform: scale(1.04);
				filter: drop-shadow(0 0 .5em rgba(0,0,0,0.6));
			}
		}
	}

	body.home & {
		img.logo-main { display: block; }
	}
	body.home.under-masthead & {
		img.logo-main { display: none; }
		img.logo-main-overlay { display: block; }
	}
	body:not(.home) & {
		img.logo-inside { display: block; }
	}
	body:not(.home).under-masthead & {
		img.logo-inside { display: none; }
		img.logo-inside-overlay { display: block; }
	}
}