.menu {
	display: block;

	background-color: var(--#{$PREFIX}-color-main_menu-background, #000);

	background-image: var(--#{$PREFIX}-file-main_menu-background-cssurl, none);
	background-position: var(
		--#{$PREFIX}-setting-main_menu-background-position,
		center bottom
	);
	background-size: var(--#{$PREFIX}-setting-main_menu-background-size, cover);
	background-repeat: var(
		--#{$PREFIX}-setting-main_menu-background-repeat,
		no-repeat
	);
	background-attachment: var(
		--#{$PREFIX}-#{$PREFIX}-setting-main_menu-background-attachment,
		fixed
	);
	color: var(--#{$PREFIX}-color-main_menu-foreground, #fff);

	font-size: var(--#{$PREFIX}-font-base_size, 1em);

	position: absolute;
	z-index: 3;
	top: 100%;
	right: 0;
	width: auto;
	height: auto;
	max-width: 500px;
	max-height: 0;
	overflow: hidden;
	overscroll-behavior: contain;
	opacity: 0;

	transition: max-height 0.16s ease-in;
	transition-delay: 0.05s;

	@include phone() {
		width: 100%;
	}

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a,
	span,
	.search-form {
		display: block;
		color: inherit;
		text-decoration-line: none;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
		padding: 0.5em 0.75em;
		position: relative;
		z-index: 2;
	}
	a {
		@include hover {
			color: var(
				--#{$PREFIX}-color-main_menu-foreground-hover_foreground,
				#fff
			);
			background-color: var(
				--#{$PREFIX}-color-main_menu-foreground-hover_background,
				#000
			);
		}
		small {
			display: block;
			font-size: 0.6em;
			opacity: 0.8;
		}
	}

	.password-protected > a::before {
		display: inline-block;
		content: "\1F512\00FE0E";
		color: transparent;
		text-shadow: 0 0 1px var(--#{$PREFIX}-color-main_menu-foreground);
		margin-right: 0.5em;
	}

	body.menu-active & {
		max-height: calc(
			var(--vh100, 100vh) - var(--#{$PREFIX}-masthead-height, 8vh) -
				var(--wp_admin_bar_height, 0px)
		);
		transition-delay: 0s;
		visibility: visible;
		opacity: 1;

		&.is-open {
			overflow-y: auto;
		}
	}

	.search-form {
		padding-bottom: 0.75em;

		.search-inside_wrapper {
			background: #fff;
			border: 1px solid rgba(255, 255, 255, 0.4);
			opacity: 0.6;
			transition: opacity 0.15s;

			min-width: 100%;
			width: 10em;

			@include hover {
				opacity: 1;
			}
			&:focus-within {
				opacity: 1;
			}
		}
		input[type="search"] {
			background: transparent;
			border: 0;
			color: #000;
		}
		button {
			background: var(--#{$PREFIX}-color-brand, #000);
			color: #fff;

			@include hover {
				background: var(--#{$PREFIX}-color-highlight);
			}
		}
	}
}
