header.page_title {
	background-color: var(--archive_header-background_color);
	background-image: var(--archive_header-background_image);
	background-position: center center;
	background-size: cover;
	color: var(--archive_header-text_color);
	padding-bottom: 0;
	margin-bottom: 0.5rem;
	line-height: 1.15;
	word-break: break-word;

	&.has_background {
		padding-bottom: 1.25rem;
	}

	& + .row.archive-content {
		margin-top: 1.75rem;
	}

	h1,
	h2 {
		margin: 0;

		.prepend {
			font-weight: 100;
		}
	}

	h2 {
		margin-top: 0.5em;
		font-size: 1.15rem;
	}

	.term-description {
		margin-top: 0.35em;
		font-size: 0.85rem;

		p {
			margin-bottom: 0.65em;

			&:last-child,
			&:only-of-type {
				margin-bottom: 0;
			}
		}
	}

	@include phone {
		font-size: 0.9rem;
	}
}

.category_parents {
	display: flex;
	align-items: center;
	justify-content: center;

	color: inherit;
	font-size: 0.9em;
	line-height: 1.25;

	.parent-back {
		opacity: 0.4;
		font-weight: bold;
		line-height: 0.5;
	}

	* {
		vertical-align: center;
		line-height: 1;
	}

	i {
		opacity: 0.4;
		font-size: 0.75em;

		&::after {
			content: "/";
			font-weight: bold;
		}
		&:last-child::after {
			display: none;
		}
	}

	a {
		display: inline-block;
		color: inherit;
		background-color: rgba(0, 0, 0, 0);
		border-radius: 0.25em;
		padding: 0.25em 0.5em;
		margin: 0 0.25em;
		line-height: 1.2;
		text-decoration-line: none;
		white-space: nowrap;
		word-break: break-word;
		transition: background-color 0.15s, color 0.15s;

		@include hover {
			background-color: var(--#{$PREFIX}-color-brand);
			color: #fff;
		}
	}

	@include phone {
		font-size: 1.25em;

		.parent-back {
			display: none;
		}
	}
}
