body > footer {
	z-index: 10;
	background-color: var(--#{$PREFIX}-color-footer-background);
	color: var(--#{$PREFIX}-color-footer-foreground);

	padding: 3vh 2vw;
	font-size: 0.75rem;

	position: relative;
	z-index: 1;

	user-select: none;

	.row-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 1.5rem;
		align-items: center;
		justify-content: space-between;

		padding: 0;

		& > * {
			align-self: center;
		}

		@include phone {
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	.logo {
		height: 90px;
		width: max-content;

		@include phone {
			display: none;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		img {
			display: block;
			height: 100%;
			width: auto;
		}
	}

	a {
		color: inherit;
		text-decoration-line: none;

		@include hover {
			color: var(--#{$PREFIX}-color-highlight);
			text-decoration-line: underline;
		}
	}

	ul,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu {
		& > ul {
			display: flex;
			column-count: 4;
			column-gap: 0.75em;
			height: 100%;

			li {
				display: block;
				margin: 0 1em 0.25em 0;
			}

			@include phone {
				display: block;
				column-count: 1;
				font-size: 0.9rem;
				text-align: center;
				margin-top: 0.5em;

				li {
					display: inline-block;
					margin: 0 0.5em 0.5em;
				}
			}
		}
	}

	@import "./_social_menu.scss";

	.copyright {
		text-align: right;
		margin-left: auto;

		@include phone {
			text-align: center;
			margin-right: auto;
		}
	}
}
.container-choice-footer-msg {
	background-color: var(--#{$PREFIX}-color-footer-background);
	color: var(--#{$PREFIX}-color-footer-foreground);
	font-size: 0.75rem;

	.container-inside {
		margin: 0 auto;
		max-width: 800px;
		padding: 0;
		overflow-x: visible;
		position: relative;

		> div {
			padding: 0.75em !important;
		}

		a {
			color: var(--#{$PREFIX}-color-highlight);
		}
	}
}
