:root .wp-block-query {
	& > ul > li {
		overflow: auto;
		margin-bottom: 1.5em;
	}

	.wp-block-post-featured-image {
		a,
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.wp-block-post-featured-image.alignleft,
	.wp-block-post-featured-image.alignright,
	.wp-block[data-align="left"] > .wp-block-post-featured-image,
	.wp-block[data-align="right"] > .wp-block-post-featured-image {
		display: inline;
		width: 350px;

		@include phone {
			float: none;
			width: 100%;
			margin: 0 0 0.75em;
		}
	}

	.wp-block-post-featured-image.alignleft,
	.wp-block[data-align="left"] > .wp-block-post-featured-image {
		margin: 0 1em 0.75em 0;
	}

	.wp-block-post-featured-image.alignright,
	.wp-block[data-align="right"] > .wp-block-post-featured-image {
		margin: 0 0 1em 0.75em;
	}

	.wp-block-post-title {
		display: flex;
		word-break: break-word;

		a {
			text-decoration-line: none;
			color: inherit;

			@include hover {
				text-decoration-line: underline;
				color: var(--#{$PREFIX}-color-highlight);
			}
		}
	}

	.wp-block-post-date + * {
		margin-top: 0.5em;
	}

	& > ul > li:last-child .wp-block-separator {
		display: none;
	}

	.is-flex-container {
		@include cards;
		//font-size: 1rem;

		& > li {
			@include card;
			box-sizing: border-box;

			@include hover {
				transform: none;
			}

			margin: 0;
			padding: 0;

			/*
			.wp-block-post-featured-image {
				float: none;
				width: 100%;
				max-width: 100%;
				margin: 0;
				padding: 0;
			}
			*/

			.wp-block-separator {
				display: none;
			}
		}

		&.columns-2 {
			--card-width: 50%;
		}
		&.columns-3 {
			--card-width: 33.3333333333%;
		}
		&.columns-4 {
			--card-width: 25%;
		}
		&.columns-5 {
			--card-width: 20%;
			font-size: 0.8em;
		}
		&.columns-6 {
			--card-width: 16.6666666667%;
			font-size: 0.75em;
		}
	}

	@include phone() {
		&.collapse-1 .is-flex-container,
		& .is-flex-container.collapse-1 {
			--card-width: 100%;
		}
		&.collapse-2 .is-flex-container,
		& .is-flex-container.collapse-2 {
			--card-width: 50%;
		}
		&.collapse-3 .is-flex-container,
		& .is-flex-container.collapse-2 {
			--card-width: 33.3333333333%;
		}
	}
}
