.wp-block-query-pagination {
	margin: 2em 0 1em;
	text-align: center;
	align-items: center;

	.page-numbers {
		display: inline-block;
	}

	span.page-numbers,
	a.page-numbers {
		background: rgba(0, 0, 0, 0.1);
		padding: .25em .5em;

		&.current {
			background: var(--#{$PREFIX}-color-brand);
			color: var(--#{$PREFIX}-color-content-background);
		}
	}

	a.page-numbers {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		text-decoration: none;

		@include hover {
			background: #000;
		}
	}

	span.dots {
		background: none;
	}

}