$width-max: 1200px;
$width-large: 1030px;
$width-medium: 820px;
$width-small: 640px;

//@import "_variables";
@import "_functions";
@import "mixins/_";
@import "_wpcore";
@import "_basics";
@import "_colors";
@import "_fonts";
@import "_hacks";
@import "_flexcard";
@import "_social-links";
@import "_sidebar";
@import "blocks/_";
