/**
 * Named colors
 */
.has-white-color {
	color: #fff;
}
.has-black-color {
	color: #000;
}
.has-grey-color {
	color: #888;
}
.has-lightgrey-color {
	color: #d6d6d6;
}
.has-darkgrey-color,
.has-cumulus-dark-grey-color {
	color: #333;
}

// Named background colors
.has-white-background-color {
	background-color: #fff;
}
.has-black-background-color {
	background-color: #000;
}
.has-grey-background-color {
	background-color: #888;
}
.has-lightgrey-background-color {
	background-color: #d6d6d6;
}
.has-darkgrey-background-color,
.has-cumulus-dark-grey-background-color {
	background-color: #333;
}

// Var-based colors & backwards compatibility
.has-brand-color,
.has-cumulus-blue-color {
	color: var(--#{$PREFIX}-color-brand);
}
.has-highlight-color,
.has-cumulus-light-blue-color {
	color: var(--#{$PREFIX}-color-highlight);
}
.has-accent-color {
	color: var(--#{$PREFIX}-color-accent);
}
.has-brand-background-color,
.has-cumulus-blue-background-color {
	background-color: var(--#{$PREFIX}-color-brand);
}
.has-highlight-background-color,
.has-cumulus-light-blue-background-color {
	background-color: var(--#{$PREFIX}-color-highlight);
}
.has-accent-background-color {
	background-color: var(--#{$PREFIX}-color-accent);
}
.has-wwopn-purple-color {
	color: #6a2774;
}
.has-wwopn-light-purple-color {
	color: #a33cb3;
}
.has-wwopn-purple-background-color {
	background-color: #6a2774;
}
.has-wwopn-light-purple-background-color {
	background-color: #a33cb3;
}
