/**
 * Named font sizes
 */

.has-small-font-size {
	font-size: 0.7em;
}
.has-medium-font-size {
	font-size: .85em;
}
.has-normal-font-size {
	font-size: 1em;
}
.has-bigger-font-size {
	font-size: 1.25em
}
.has-large-font-size {
	font-size: 1.5em;
}
.has-larger-font-size,
.has-huge-font-size {
	font-size: 2em;
}
