/**
 * Named font sizes
 */

.has-small-font-size {
	font-size: 0.5em;
}
.has-medium-font-size {
	font-size: 0.85em;
}
.has-large-font-size {
	font-size: 1.25em;
}
.has-larger-font-size {
	font-size: 1.5em;
}
