/**
 * Misc adjustments to built in styles from WP and block devs
 */

// Wordpress tries to make images responsive, but then
// doesn't let you set an image block without width/height...
.wp-block-image img,
.wp-block-media-text__media img,
.wp-block-media-text__media video {
	height: auto;
}

// Only child figures should be inline-block
:root figure.wp-block-image:only-child {
	display: inline-block;
	margin-bottom: 0;
}

// figures with links should be inline-blocks
:root figure a {
	display: inline-block;
}

.nomargin {
	margin: 0;
}

// Handle Kadence inherit max content width from theme
.kb-theme-content-width {
	max-width: $width-max;
}

// Allow reversing columns on mobile
.reverse-columns-on-mobile {
	flex-wrap: wrap-reverse;
}

// Fix padding on UGB Cards
.ugb-feature-grid .ugb-feature-grid__item {
	padding: 1em !important;
}
// Remove absurd margin on UGB Buttons
.ugb-button-wrapper {
	margin: 0 -0.5em;
}

// remove underline on kadence block link wrappers
.kt-blocks-info-box-link-wrap {
	text-decoration-line: none;
}
// Max width for kadence info block images
.kt-blocks-info-box-media {
	width: 100%;
}
.kt-blocks-info-box-media img {
	max-width: 100%;
	height: auto;
}

// Make kadence advanced buttons align properly
.wp-block-kadence-advancedbtn .kt-btn-wrap {
	vertical-align: middle;
}
.kt-force-btn-fullwidth {
	flex-wrap: wrap;
}
.kt-force-btn-fullwidth.kt-btn-align-center .kt-btn-wrap,
.kt-force-btn-fullwidth.kt-btn-align-center .kt-button {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}
.kt-force-btn-fullwidth.kt-btn-align-center .kt-button {
	align-items: center;
	justify-content: center;
	width: 100%;
}

// Kadence tabs should align bottom
.kt-tabs-title-list {
	align-items: flex-end;
}

// Faster transitions for kadance advanced buttons
:root .kt-btn-wrap .kt-button {
	transition-duration: 0.15s;
}

// Remove uneditable padding on kadence carousel
:root .kt-blocks-carousel,
:root .wp-block-kadence-testimonials .kt-blocks-carousel {
	padding-bottom: 0;
}

// Allow for aligning testimonials centered vertically
:root .align-middle.wp-block-kadence-testimonials .slick-track {
	display: flex;
	align-items: center;
}

// Allow audio player to get smaller
.wp-block-audio audio {
	min-width: 150px;
}

// RSS Aggregator styles
.wp-rss-aggregator {
	font-size: 0.8em;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.feed-source {
		display: none;
	}

	.nav-links {
		border-top: 1px solid RGBA(0, 0, 0, 0.2);
		padding-top: 0.5em;
		margin-top: 0.5em;

		> * {
			display: inline-block;
		}
	}
}

// Kadence block top divider fix on mobile
@include phone {
	.kt-row-layout-top-sep {
		top: -1px;
	}
	.kt-row-layout-bottom-sep {
		bottom: -1px;
	}
}

// Borders on jotform oEmbeds
.wp-block-embed-jotform iframe {
	border: 0;
}
