.has-global-sidebar {
	display: flex;
	flex-direction: row-reverse;
	gap: 2em;

	@include phone {
		flex-direction: column-reverse;
	}

	& > * {
		flex: 1;
	}

	.global-sidebar {
		flex: 0;
		flex-basis: 300px;
		font-size: 0.85rem;
		//margin-top: 1.5em;
		position: relative;

		// Sidebars in rows that follow a header don't need a top margin (archive pages)
		@at-root header.page_title + .row & {
			margin-top: 0;
		}

		&.uses-widgets {
			display: flex;
			flex-direction: column;
			gap: 0.75em;
		}
	}

	.row.has_background {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
.widget-container {
	.uses-widgets & {
		padding-bottom: 0.75em;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);

		&:last-child {
			padding-bottom: 0;
			border-bottom: 0;
		}
	}

	.search-form {
		display: flex;
		flex-direction: row;
		gap: 0.25em;

		& > * {
			flex: 1;
			display: flex;
		}
		input {
			border: 1px solid rgba(0, 0, 0, 0.25);
			border-radius: 2px;
			padding: 0.5em;
		}
		.search-submit {
			align-items: center;
			justify-content: center;
			border: 0;
			background-color: var(--#{$PREFIX}-color-brand);
			color: white;
		}
	}

	.wp-block-latest-posts {
		margin-top: 0;

		li {
			margin-bottom: 0.5em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
