.social-link-icons {
	--icon-color: var(--#{$PREFIX}-color-content-foreground);
	--icon-hover-color: var(--#{$PREFIX}-color-highlight);

	a {
		--icon: '';
		mask: var(--icon) no-repeat 50% 50%;
		background-color: var(--icon-color);
		background-position: center center;
		background-size: contain;

		display: block;

		width: 2em;
		height: 2em;

		@include hover {
			background-color: var(--icon-hover-color);
		}

		&[href*="amazon.com"i],
		&[aria-label*="amazon"i],
		&[aria-label*="alexa"i] {
			--icon: url('images/amazonalexa.svg');
		}

		&[href*="apple.com"i],
		&[aria-label*="apple"i] {
			--icon: url('images/apple.svg');
		}

		&[href*="facebook.com"i],
		&[href*="fb.me"i],
		&[aria-label*="facebook"i] {
			--icon: url('images/facebook.svg');
		}

		&[href*="githim.com"i],
		&[aria-label*="github"i] {
			--icon: url('images/github.svg');
		}

		&[href*="instagram.com"i],
		&[href*="instagr.am"i],
		&[href*="instagr.com"i],
		&[aria-label*="instagram"i] {
			--icon: url('images/instagram.svg');
		}

		&[href*="linkedin.com"i],
		&[aria-label*="linkedin"i] {
			--icon: url('images/linkedin.svg');
		}

		&[href*="twitch.com"i],
		&[aria-label*="twitch"i] {
			--icon: url('images/twitch.svg');
		}

		&[href*="twitter.com"i],
		&[href*="t.co"i],
		&[aria-label*="twitter"i] {
			--icon: url('images/twitter.svg');
		}

		&[href*="vimeo.com"i],
		&[aria-label*="vimeo"i] {
			--icon: url('images/vimeo.svg');
		}

		&[href*="youtube.com"i],
		&[href*="youtu.be"i],
		&[aria-label*="youtube"i] {
			--icon: url('images/youtube.svg');
		}
	}
}