@mixin cards {
	--card-gap: 0.75rem;
	--card-width: 25%;
	--focus-outline: 5px solid var(--#{$PREFIX}-color-highlight);
	--hover-outline-color: var(--#{$PREFIX}-color-brand);

	display: flex;
	justify-content: center;
	align-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	gap: var(--card-gap);
}
@mixin card {
	display: block;
	width: calc(var(--card-width) - var(--card-gap));
	margin: 0;

	transition: transform 0.1s, box-shadow 0.1s;
	position: relative;
	z-index: 1;

	border-radius: 0.3em;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0), 0 0.05em 1em rgba(0, 0, 0, 0.14);
	overflow: hidden;

	&:focus-within,
	& > a:focus-within {
		outline: var(--focus-outline);
	}

	&,
	& > a {
		@include hover {
			transform: scale(1.03);
			box-shadow: 0 0 1px 0 var(--hover-outline-color),
				0 0 1.5em rgba(0, 0, 0, 0.2);
			z-index: 2;
		}
	}
}
