@import "../shared/_";

#bitnami-banner {
	display: none !important;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

*[id],
a[name],
.wp-block-query {
	scroll-margin-top: calc(
		var(--cmls_base-masthead-height, 8vh) + 1rem +
			var(--cmls_base-extra-scroll-margin-top, 0px)
	);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body > main {
	display: block;
	position: relative;
	z-index: 2;
	overflow: visible;

	padding: 0 0 2em;
	margin-top: var(--cmls_base-masthead-height);

	.row-container {
		padding: 0 1em;
	}
}
body.begin_under_masthead > main {
	margin-top: 0;
}
body.disable_bottom_padding > main {
	padding-bottom: 0;
}

.page_title {
	background-color: var(--page_title-background_color);
	background-image: var(--page_title-background_image);
	background-position: var(--page_title-background_position);
	background-repeat: var(--page_title-background_repeat);
	background-size: var(--page_title-background_size);

	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;

	@include phone {
		padding-left: 0;
		padding-right: 0;
	}

	&.has-header-background {
		padding-top: var(--page_title-padding, 2rem);
		padding-bottom: var(--page_title-padding, 2rem);
		margin-bottom: var(--page_title-margin_below_header, 1.5rem);

		@include tablet {
			padding-top: calc(var(--page_title-padding, 2rem) * 0.75);
			padding-bottom: calc(var(--page_title-padding, 2rem) * 0.75);
		}

		h1:only-child {
			margin-bottom: 0;
		}
	}

	h1 {
		color: var(--page_title-title_color);
		text-shadow: 0.05em 0.05em 0.15em
			rgba(0, 0, 0, var(--page_title-title_shadow_opacity));
	}
}

article {
	header {
		position: relative;
		text-align: center;
		word-break: break-word;

		h1 {
			position: relative;
			line-height: 1.1;
		}
		h2 {
			font-size: 1.4em;
		}
		h3 {
			font-size: 1.25em;
		}
		h4,
		h5 {
			font-size: 1em;
		}
		h6 {
			font-size: 0.75em;
		}
	}
}
// blog and press post bodys
main.single article.type-post {
	.page_title-meta,
	.body {
		//font-family: Arial, Helvetica, sans-serif;
		font-family: $system-font;
	}
}


.cmls-anchor {
	display: block;
	position: relative;
	scroll-margin-top: calc(var(--#{$PREFIX}-masthead-height, 8vh) - 1em);
	visibility: hidden;
}

.mobile-linebreak {
	display: inline-block;
	line-height: 0;
	width: 0;
	height: 0;
	overflow: hidden;

	@include phone() {
		display: block;
	}
}

@import "./masthead/_";
@import "_search";
@import "./footer/_";
@import "_pagination";
@import "./archives/_";
@import "_post_password";
@import "_wpadminbar";
