@import '../shared/_';

#bitnami-banner { display: none !important; }

*,
*:before,
*:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

body > main {
	display: block;
	position: relative;
	z-index: 2;
	overflow: visible;

	padding: var(--#{$PREFIX}-masthead-height) 0 1em;

	.row-container {
		padding: 0 1em;
	}
}
body.begin_under_masthead > main {
	padding-top: 0;
}
body.disable_bottom_padding > main {
	padding-bottom: 0;
}

.page_title {
	padding-top: 1em;
	text-align: center;
}

article {
	& > header {
		position: relative;
		text-align: center;
		word-break: break-word;

		h1 {
			position: relative;
			line-height: 1.1;
		}
		h2 {
			font-size: 1.4em;
		}
	}

}

.cmls-anchor {
	display: block;
	position: relative;
	top: calc( (var(--#{$PREFIX}-masthead-height) * -1) - 1em );
	visibility: hidden;
}

@import '_wpadminbar';
@import './masthead/_';
@import './footer/_';
@import '_pagination';
@import '_archive';