aside.pagination {
	margin: 2em 0 1em;
	text-align: center;
	align-items: center;

	ul,
	li {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.nav-links::before {
		content: "Pages: ";

		@include phone() {
			content: "";
		}
	}

	.page-numbers {
		display: inline-block;
	}

	span.page-numbers,
	a.page-numbers {
		background: rgba(0, 0, 0, 0.1);
		padding: 0.25em 0.5em;

		&.current {
			background: var(--#{$PREFIX}-color-brand);
			color: var(--#{$PREFIX}-color-content-background);
		}
	}
	a.page-numbers {
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		text-decoration-line: none;

		@include hover {
			background: #000;
		}
	}
	span.dots {
		background: none;
	}
}
