.post-password-form {
	text-align: center;

	input {
		background: transparent;
		min-width: 3em;
		font-size: inherit;
		font-family: inherit;
		line-height: inherit;
		padding: 0.15em;
		border: 1px solid rgba(0, 0, 0, 0.25);
		border-radius: 2px;
		background: transparent;
		transition: background 0.15s;

		&:focus-visible {
			outline: 0;
		}
	}
	input[type="submit"] {
		background: var(--#{$PREFIX}-color-brand);
		color: var(--#{$PREFIX}-color-content-background);
		padding: 0.15em 0.5em;
		cursor: pointer;

		@include hover {
			background: var(--#{$PREFIX}-color-highlight);
		}
	}
}
