main.search {
	.row-container {
		max-width: 900px;
	}

	header.page_title {
		text-align: left;
		margin-bottom: 1em;
		h1 {
			font-size: 1.75em;
			margin-bottom: .25em;
		}

		.search, .search li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		.search {
			input {
				display: inline-block;
				background: rgba(0,0,0,0.15);
				font-size: 1em;
				line-height: 1;
				padding: .25em .5em;
				border: 0;
				border-radius: .15em;
				transition: all .15s;

				&[type="submit"] {
					border: 1px solid transparent;
					background: var(--#{$PREFIX}-color-brand);
					color: #fff;

					@include hover {
						background: var(--#{$PREFIX}-color-highlight);
					}
				}
			}
		}
	}

}