#wpadminbar { position: fixed !important; }
html { position: relative; }

:root {
	--wp_admin_bar_height: 0;
}
body.admin-bar {
	--wp_admin_bar_height: 32px;

	@include tablet {
		--wp_admin_bar_height: 46px;
	}

	& > .masthead {
		top: var(--wp_admin_bar_height);
	}
}