@import '../shared/_';

.edit-post-visual-editor__post-title-wrapper {
	margin-bottom: 0;
}
.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
	font-family: var(--#{$PREFIX}-font-family);
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}
body {
	padding: 0 1rem;
}
