@import '../shared/_';

/*
.wp-block {
	max-width: $width-max;
}
//*/
/*
.is-root-container {
	width: $width-max;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
//*/

.editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
	font-family: var(--#{$PREFIX}-font-family);
	font-size: 2.5em;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
}